<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.temunide.capstoneproject">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".CodeStories"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >        <activity android:name=".SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".StoryListActivity" />
        <activity
            android:name=".PostActivity"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".StoryListActivity"
            >
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".StoryListActivity">
            </meta-data>
            </activity>
        <activity android:name=".StoryActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".StoryListActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".StoryListActivity">
            </meta-data>
            </activity>

        <service
            android:name=".utils.FirebaseMessageHandler"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".utils.FirebaseInstanceService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".appwidget.LatestPostsWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/latest_posts_widget_info" />
        </receiver>

        <service
            android:name=".appwidget.LatestPostsService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>

</manifest>